<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile - Airbnb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script src="angularjs/index.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            background-color:white;
        }



        .dropdown:hover .dropdown-content {
            display: block;
        }
        .main{

        }
        .heading{
            font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 25px;
            line-height: 1.43;
            color:#8f8f8f;
            margin: 0 auto;
            -webkit-font-smoothing: antialiased;
        }
        .photo{
            margin-left: 170px;
        }
        .left{
            padding-left:2cm;
            max-width:30%;
            float:left;

        }
        .right{
            padding-left:7cm;
        }
        button {
            background:none!important;
            border:none;
            padding:0!important;
            font: inherit;
            cursor: pointer;
        }
        input[type="submit"] {
            background:#ff5a5f;
            color:white;
            width:150px;
            height:40px;
        }
        input[type="text"] {
            width:400px;
            height:30px;
        }
        input[type="email"] {
            width:400px;
            height:30px;
        }
        .panel-default {

            width:600px;

        }
        .header {
            right:10px;
            position:absolute;
            z-index: 90;
        }
        hr.style2 {
            border-top: 3px double #8c8b8b;
        }
        nav{
            z-index:1;
        }
    </style>

</head>
<body ng-app="index" ng-controller="user_reviews_ab">
<div id="header_menu"></div>
<script type="text/javascript" src="./js/user_header.js"></script><br /><br /><hr />

<main>

    <div class="col-md-3"> <!-- 3  -->

        <% include ./user_header_vertical_ab.ejs %>

    </div>  <!-- 3 end -->

    <div class="col-md-1">

    </div>

    <div class="col-md-7 well" style="background-color: #ffffff;">  <!-- 7 -->


        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="col-md-6">
                    <a href="/user_reviews_ab" style="color:#484848;">Reviews About You</a> &nbsp &nbsp &nbsp
                </div>

                <div class="col-md-6">
                    <a href="/user_review_by_you_ab" style="color:#484848;">Reviews By You</a> <hr /><br /> <br />
                </div>

                <div class="panel-body" style="background-color: #ffffff;">

                    <% if(reviews.length > 0) { %>
                    <% for(i in reviews) { %>
                    <div class="col-md-4">
                        Reviewer:
                    </div>
                    <div class="col-md-6">
                        <%- reviews[i].host_name %>
                    </div>

                    <div class="col-md-4">
                        Review:
                    </div>
                    <div class="col-md-6">
                        <%- reviews[i].user_review %>
                    </div>

                    <div class="col-md-4">
                        Feedback:
                    </div>
                    <div class="col-md-6">
                        <%- reviews[i].user_feedback %>
                    </div>

                    <div class="col-md-4">
                        Cleanliness:
                    </div>
                    <div class="col-md-6">
                        <%- reviews[i].cleanliness %>
                    </div>

                    <div class="col-md-4">
                        Communication:
                    </div>
                    <div class="col-md-6">
                        <%- reviews[i].communication %>
                    </div>

                    <div class="col-md-4">
                        Houserules:
                    </div>
                    <div class="col-md-6">
                        <%- reviews[i].houserules %>
                    </div>

                    <div class="col-md-4">
                        Recommend:
                    </div>
                    <div class="col-md-6">
                        <%- reviews[i].recommend %>
                        <hr>
                    </div>



                    <hr>

                    <% } %>

                    <% } else { %>
                    No one has reviewed you yet.
                    <% } %>



                </div>
            </div>
        </div>

        </div>

</main>




</body>
</html>

